html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    overflow: hidden;
}
  
#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
  
#container {
    background-image: url('../img/bandeau_2304.png');
    width: 2304px;
    height: 96px;
    position: relative;
}
  
#right {
    background-image: url('../img/bandeau_2304-right.png');
    width: 2304px;
    height: 96px;
    position: relative;
}
  
.barre {
    position: absolute;
    bottom: 18px;
    left: 449px;
    height: 60px;
    width: 1575px;
    background: linear-gradient(90deg, #1d83ff 0%,#bee6ff 50%, white 100%);
    transition: ease-in 0.4s;
}

#right .barre {
    position: absolute;
    bottom: 18px;
    left: 280px;
    height: 60px;
    width: 1575px;
    background: linear-gradient(90deg, white 0%,#bee6ff 50%, #1d83ff 100%);
    transition: ease-in 0.4s;
}

.logo {
    position: absolute;
    bottom: 27px;
    left: 480px;
    width: 183px;
}

#right .logo {
    bottom: 27px;
    right: 480px;
    left: auto;
    width: 183px;
}