html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    overflow: hidden;
}
  
#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
  
#container {
    background-image: url('../img/bandeau-3384.png');
    width: 3384px;
    height: 96px;
    position: relative;
}
  
#right {
    background-image: url('../img/bandeau-3384-right.png');
    width: 3384px;
    height: 96px;
    position: relative;
}
  
.barre {
    position: absolute;
    bottom: 12px;
    left: 758px;
    height: 68px;
    width: 2224px;
    background: linear-gradient(90deg, #1d83ff 0%,#bee6ff 50%, white 100%);
    transition: ease-in 0.4s;
}

#right .barre {
    position: absolute;
    bottom: 12px;
    left: 399px;
    height: 68px;
    width: 2224px;
    background: linear-gradient(90deg, white 0%,#bee6ff 50%, #1d83ff 100%);
    transition: ease-in 0.4s;
}

.logo {
    position: absolute;
    bottom: 19px;
    left: 820px;
    width: 235px;
}

#right .logo {
    bottom: 19px;
    right: 820px;
    left: auto;
    width: 235px;
}